header{
  width:100vw;
  height: 80px;
  background: var(--clr-dark-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.logo{
  font-size: var(--fs-3);
  font-weight: var(--fw-2);
}